html, body {
  height: 100%;
  margin: 0;
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: Abril Fatface; /* Гарнитура шрифта */
  src: url(AbrilFatface-Regular.ttf); /* Путь к файлу со шрифтом */
 }

body {
  font-family: 'Abril Fatface', serif;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
  flex-direction: column;
  background-color: black;
  font-weight: 200;
<<<<<<< HEAD
  width: auto;
  }

  header {
    height: 150px;
=======
  }

  header {
    height: 125px;
    width: 100%;
>>>>>>> 02b755ead77bea71ec002a8775eb5775da2efa3d
    background-color: black;
    text-decoration: none;
  }
  @media (min-width: 768px) {
  
    body {
      font-size: 16px;
    }
    
    
    .gallery li {
      width: 50%;
    }
  }
  
  
  @media (min-width: 992px) {
   
    body {
      font-size: 18px;
    }
    
    
    .gallery li {
      width: 33.33%;
    }
  }
  
  
  @media (min-width: 1382px) {
      body {
        font-size: 18px;
      }
      .gallery li {
        width: 25%;
      }
    }

  .container {
<<<<<<< HEAD
=======
    max-width: 960px;
>>>>>>> 02b755ead77bea71ec002a8775eb5775da2efa3d
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }

  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#text-overlay {
  font-family: 'Abril Fatface', serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  margin-left: 20px;
<<<<<<< HEAD
  margin-top: -10px;
=======
>>>>>>> 02b755ead77bea71ec002a8775eb5775da2efa3d
}

.text-overlay a {
  text-decoration: none;
}

#name {
  font-size: 3rem;
  margin-top: 13px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.subtext {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  float: right;
  margin-right: 25px;
  margin-top: -50px;
  }


.subtext a {
  text-decoration: none;
  color: white;
}  

  /* Стили для раздела "О фильме" */
  #about2 {
    height: 700px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin-left: 200px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 33px;
    margin-bottom: 37px;
  }
  #about-left {
    flex-basis: 40%;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: larger;
}


  /* Стили для подвала */
  footer {
    background-color: black;
    color: #fff;
    text-align: center;
    height: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    margin-top: auto;
  }