html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

@font-face {
  font-family: Abril Fatface; /* Гарнитура шрифта */
  src: url(AbrilFatface-Regular.ttf); /* Путь к файлу со шрифтом */
 }

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  flex-direction: column;
  }

  header {
    height: 80px;
    width: 100%;
    background-color: black;
    text-decoration: none;
  }
  
  #text-overlay {
    font-family: 'Abril Fatface', serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    margin-left: 20px;
    margin-top: -10px;
  }
  
  .text-overlay a {
    text-decoration: none;
  }
  
  #name {
    font-size: 3rem;
    margin-top: 13px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .subtext {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    float: right;
    margin-right: 25px;
    margin-top: -50px;
    }
  
  
  .subtext a {
    text-decoration: none;
    color: white;
  }  

  .center {
    flex-grow: 1;
    text-align: center;
  }
  
  .center h1 {
    color: white;
    font-size: 24px;
  }

  @media (min-width: 768px) {
  
    body {
      font-size: 16px;
    }
    
    
    .gallery li {
      width: 50%;
    }
  }
  
  
  @media (min-width: 992px) {
   
    body {
      font-size: 18px;
    }
    
    
    .gallery li {
      width: 33.33%;
    }
  }
  
  
    @media (min-width: 1382px) {
      body {
        font-size: 20px;
      }
      .gallery li {
        width: 25%;
      }
    }

  
  h1, h2, h3 {
    margin: 0;
  }
  
 

  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;
  }

  
  .review {
    flex: 0 0 300px;
    margin: 0 10px;
  }
  
  


  blockquote {
    padding: 10px;
    border-left: 5px solid #ccc;
    background-color: #f9f9f9;
  }
  
  blockquote p {
    margin: 0;
  }
  
  blockquote author {
    margin-top: 10px;
    font-style: italic;
  }

 

  .review h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .review p {
    font-size: 14px;
  }
  
  footer {
    background-color: black;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    font-family:'Abril Fatface', serif;
  }